<div *ngIf="!terminado" id="cuerpo">

    <ng-container *ngFor="let cancion of jsonData ; let i = index">

        <div *ngIf="i === preguntaActual" class="pregunta" id="{{i}}" class="pregunta" #preguntas @fade>
            <div class="visual">
                <h1>{{ cancion.titulo }}</h1>
                <h2>Artista: {{ cancion.artista }}</h2>

            </div>

            <div class="opciones">
                <p>¿Quien se acuerda de ti por esta canción?</p>
                <button *ngFor="let nombre of nombres" (click)="this.check(nombre, cancion.nombres.toString())">
                    {{nombre}}
                </button>
            </div>

            <div class="solucion" *ngIf="i === preguntaActual && completa" @fade>
                <div>
                    <p *ngIf="correcta">¡Has acertado!</p>
                    <p *ngIf="!correcta">¡Fallaste!</p>
                    <p *ngIf="cancion.nombres.length > 1">
                        ¡Estas personas pensaron en ti con esta canción!
                        <span *ngFor="let nombre of cancion.nombres">{{ nombre }} </span>
                    </p>
                    <p *ngIf="cancion.nombres.length == 1">
                        ¡{{cancion.nombres[0]}} pensó en ti con esta canción!
                    </p>
                </div>

                <button (click)="next()">Siguiente</button>
            </div>
        </div>
    </ng-container>
</div>

<div *ngIf="terminado" id="cuerpo">
    <div class="pregunta">
        <h2>¡Felicidades, has completado el juego!</h2>
        <p>Hemos disfrutado mucho recordando todas estas canciones que te representan. Esperamos que hayas disfrutado tanto como nosotros preparándolo para ti.</p>
        <p>¡Has acertado un {{porcentajePuntuacion()}}% de las resputestas!</p>
        <p>¡Sigue llenando tus días con música y buenos recuerdos! Nosotros, tus amigos y familiares, estamos aquí para compartir cada nota contigo. ¡Feliz cumpleaños, Jose!</p>
    </div>
</div>